WAKATIME_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
FRESHBOOKS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FRESHBOOKS_TASK_ID=0000
FRESHBOOKS_SUB_DOMAIN=xxxxxx # the portion before freshbooks.com eg. xxxx.freshbooks.com
MANDRILL_API_KEY=
MANDRILL.FROM_EMAIL=example@domain.com
MANDRILL.FROM_NAME=WakaTime-Freshbooks
MANDRILL.TO_EMAIL=you@yourdomain.com